<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Registration Form</h1>
        <link rel="stylesheet" href="{%static 'CSS/My_Style.css'%}">
    <form class="" action="index.html" method="post">
      Name:<input type="text" name="" value="">
      <br>
      DOB:<input type="text" name="" value="">
      <br>
      Gender:<input type="text" name="" value="">
      <br>
      Email:<input type="text" name="" value="">
      <br>
      Phone Number:<input type="text" name="" value="">
      <br>
      <button type="button" name="button">Submit</button>
      <br>
    </form>
    <br>
  <h2>{{insert_me}}</h2>
    <br>
    <img src="{%static 'image/black_panter.jpg'%}" alt="sorry chinni" sizes="200px" srcset="">
  </body>
</html>